@using SharpShop.Web.Components.Pages

@if (Visible)
{
   <h1>Alkex</h1>
}

@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public ProductModel? Product { get; set; }
    [Parameter] public EventCallback<ProductModel> OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
}
